@model Domain.Models.Poll

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Poll</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Option1Text)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Option1Text)
            <span> (@Model.Option1VotesCount votes)</span>
            <form asp-action="Vote" method="post" style="display:inline;">
                <input type="hidden" name="id" value="@Model.Id" />
                <input type="hidden" name="option" value="1" />
                <button type="submit" class="btn btn-sm btn-primary">Vote</button>
            </form>
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Option2Text)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Option2Text)
            <span> (@Model.Option2VotesCount votes)</span>
            <form asp-action="Vote" method="post" style="display:inline;">
                <input type="hidden" name="id" value="@Model.Id" />
                <input type="hidden" name="option" value="2" />
                <button type="submit" class="btn btn-sm btn-primary">Vote</button>
            </form>
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Option3Text)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Option3Text)
            <span> (@Model.Option3VotesCount votes)</span>
            <form asp-action="Vote" method="post" style="display:inline;">
                <input type="hidden" name="id" value="@Model.Id" />
                <input type="hidden" name="option" value="3" />
                <button type="submit" class="btn btn-sm btn-primary">Vote</button>
            </form>
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
    </dl>
</div>

<!-- Chart.js canvas for the poll results -->
<div>
    <h4>Poll Results Visualization</h4>
    <canvas id="pollResultsChart" width="400" height="200"></canvas>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    var pollData = {
        labels: [
            '@Model.Option1Text',
            '@Model.Option2Text',
            '@Model.Option3Text'
        ],
        datasets: [{
            label: 'Poll Results',
            data: [
                    @Model.Option1VotesCount,
                    @Model.Option2VotesCount,
                    @Model.Option3VotesCount
                ],
            backgroundColor: ['#b7b5b3', '#b80c09', '#141301'], 
        }]
    };

    var options = {
        responsive: true,
        scales: {
            y: {
                beginAtZero: true
            }
        }
    };

    var ctx = document.getElementById('pollResultsChart').getContext('2d');
    var pollResultsChart = new Chart(ctx, {
        type: 'bar', 
        data: pollData,
        options: options
    });
</script>
